<h1>Login</h1>
<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="testarAPI()">Testar API</button>
<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="logar()">Logar Facebook</button>
<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="sair()" ng-if="firebaseUser">Sair Google</button>
<div class="card" style="overflow:auto;">
  <div class="card-block">
    <h4 class="card-title">API</h4>
    <p class="card-text">
	<p> {{testeapi | json}}</p>
		<p ng-if="firebaseUser"> {{firebaseUser | json}}</p>
	</p>
  </div>
</div>
